@charset "utf-8";
.encaforms {
	font-family: "Times New Roman", Times, serif;
	font-size: xx-large;
	font-weight: bold;
	color: #000;
	text-align: left;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color: #000;
	text-align: left;
}.etifactu {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	color: #666;
}
.retorno {
	font-size: 16px;
	color: #39F;
}
.etiquetauser {
	color: #CCC;
}
.NO {
	color: #F00;
	text-decoration: underline;
}
.deta {
	font-size: x-large;
	text-align: center;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	color: #000;
}
.retabla {
	color: #FFF;
}
